body {
    background-color: #4A5759;
}

.register-form-container {
    background-color: #E6E5E3;
    height: 750px;
    width: 600px;
    border-radius: 20px;
    padding: 3rem;
    display: grid;
    grid-template-rows: min-content;
    gap: 1rem;
}

.register-form {
    display: grid;
    grid-template-rows: min-content;
    border-top: #acb2b3 1px solid;
    gap: 1.2rem;
}

.register-form h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #26294C;
    font-size: 2rem;
}

.register-form form {
	display: grid;
	grid-template-rows: repeat(4, auto);
	gap: 0.5rem;
}