.stats-container {
    margin-left: 20px;
    display: grid;
    gap: 30px;justify-items: center;
    align-items: center;
}

.briar-score-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    display: grid;
    place-items: center;
}

.briar-score-container p {
    font-weight: bolder;
    font-size: 2rem;
    margin: 0;
    color: #26294C;
}

.briar-score-container h2 {
    font-weight: normal;
    font-size: 1.3rem
}

.no-score {
    font-size: 1.2rem !important;
    font-weight: normal !important;
}

.briar-score-container div {
    display: grid;
    place-items: center;
}

.explanation-container {
    height: 387px;
    width: 700px;
}

.ag-theme-quartz {
    --ag-header-background-color: #26294C;
}