.edit-question-container {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.edit-question-container input {
    width: 500px;
    background-color: #E6E5E3;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    color: black;
}

.edit-question-container h2 {
    margin: 0;
    color: #515A47;
}

.edit-question-container button {
    width: fit-content;
    background-color: #673C4F;
}

.edit-question-header {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.edit-question-header button {
    background-color: #515A47;
    height: fit-content;
    width: fit-content;
    padding: 1px 5px;
}

.edit-question-header button img {
    height: 15px;
}